<nav class="bottom-nav">
  <ul class="nav-button-group">
    <li>
      {{#if (eq currentNav "home")}}
      <a class="nav-button active" aria-current="page" href="/">
        <div class="nav-button-icon">
          <i class="fa fa-house"></i>
        </div>
        <div class="nav-button-text">Trang chủ</div>
      </a>
      {{else}}
      <a class="nav-button" href="/">
        <div class="nav-button-icon">
          <i class="fa fa-house"></i>
        </div>
        <div class="nav-button-text">Trang chủ</div>
      </a>
      {{/if}}
    </li>

    <li>
      {{#if (eq currentNav "search")}}
      <a class="nav-button active" aria-current="page" href="/search">
        <div class="nav-button-icon">
          <i class="fa fa-magnifying-glass"></i>
        </div>
        <div class="nav-button-text">Tìm kiếm</div>
      </a>
      {{else}}
      <a class="nav-button" href="/search">
        <div class="nav-button-icon">
          <i class="fa fa-magnifying-glass"></i>
        </div>
        <div class="nav-button-text">Tìm kiếm</div>
      </a>
      {{/if}}
    </li>

    <li>
      {{#if isAuthenticated}}
      <a class="nav-button {{#if (eq currentNav 'profile')}}active{{/if}}" href="/profile">
        {{#if user.avatarPath}}
        <img class="nav-button-icon" src="{{user.avatarPath}}" />
        {{else}}
        <div class="nav-button-icon">
          <i class="fa fa-user"></i>
        </div>
        {{/if}}

        <div class="nav-button-text">Tài khoản</div>
      </a>
      {{else}}
      <a class="nav-button {{#if (eq currentNav 'profile')}}active{{/if}}" href="/signin">
        <div class="nav-button-icon">
          <i class="fa fa-user"></i>
        </div>
        <div class="nav-button-text">Đăng nhập</div>
      </a>
      {{/if}}
    </li>
  </ul>
</nav>